* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgb(48, 207, 208, 0.5) 0%,
      rgb(51, 8, 103, 0.5) 100%
    ),
    url(/img/background.jpg);
}
